#about .page-backimg {
    background-image: url('/image/LOLI1.jpg');
}

.about-content {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.about-text-content {
    font-family: 'kitty-miao';
    width: 43%;
    line-height: 2em;
    font-size: 1.8em;
    font-weight: bold;
    color: #ffe5ac;
    text-shadow: 2px 2px 2px rgba(204, 136, 7, 0.7), -2px -2px 2px rgba(219, 146, 7, 0.48);
    display: inline-block;
}

.about-content-left,
.about-content-right {
    display: inline-block;
    margin-top: 5%;
    height: 80%;
}

.about-content-left {
    float: left;
    width: 43%;
}

.about-content-right {
    float: right;
    width: 57%;
}

.about-content-left>p {
    text-align: center;
}

.about-content-right>p {
    text-align: center;
}

.about-ewm-content {
    display: inline-block;
    width: 53%;
}

.about-ewm-content {
    text-align: center;
    vertical-align: top;
    margin-top: 5%;
}

.about-ewm-content>img {
    width: 35%;
    height: 35%;
    opacity: 0.2;
    transition: all 0.5s linear;
    margin: 10px;
}

.about-ewm-content>img:hover {
    opacity: 1;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
}

.about-ewm-content:last-child:after {
    content('微信');
}